@import "./assets/scss/app";

.writeToUs {

  @include desktop {
    width: 560px;
  }


  .form {
    background: rgba(127, 133, 178, 0.05);
    border-radius: 15px;
    border: 1px solid rgba(181, 207, 204, 0.17);

    margin-top: 20px;
    padding: 25px 20px;

    @include desktop {
      margin-top: 30px;
      padding: 25px 30px;
    }

    .label {
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      color: #83848E;
    }

    .error {
      position: absolute;
      bottom: -3px;
      left: 0;
      transform: translateY(100%);
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #D03D4E;
    }

    .inputs {
      @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
      }

      .inputBlock {
        position: relative;

        @include desktop {
          width: 240px;
        }

        &:nth-child(2) {
          margin-top: 20px;

          @include desktop {
            margin-top: 0;
          }
        }

        .inputWrapper {
          margin-top: 7px;
          border: 1px solid #454758;
          border-radius: 10px;
          padding: 14px;

          input {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            background: none;
            border: none;
            outline: none;
            color: #FFF;
          }
        }

      }
    }

    .areaBlock {
      margin-top: 20px;
      position: relative;

      .areaWrapper {
        margin-top: 7px;
        border: 1px solid #454758;
        border-radius: 10px;
        padding: 14px;
        box-sizing: border-box;
        height: 160px;

        textarea {
          display: block;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          background: none;
          border: none;
          outline: none;
          color: #FFF;
          resize: none
        }

      }
    }

    .checkboxWrapper {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .checkBtn {
        @include button;
        @include centerColumn;
        width: 17px;
        height: 17px;
        border: 1px solid #333753;
        border-radius: 3px;
        transition: 0.1s;

        &_checked {
          background: #745BD7;
          border-color: #745BD7;
        }


      }

      .policyWrapper {
        margin-left: 10px;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;

        .policy {
          color: #FFF;
        }
      }

    }

    .submitBtn {
      margin-top: 30px;
      width: 100%;

      @include desktop {
        width: 160px;
      }
    }
  }
}