@import "./assets/scss/app";

.howItWorks {
  @include container;
  padding-top: 42px;

  @include desktop {
    padding-top: 70px;
  }

  .inner {
    @include inner;

    @include desktop {
      display: flex;
    }

    .content {
      margin-top: 50px;

      @include desktop {
        margin-top: 0;
        margin-left: 40px;
      }

      .block {
        &:not(:first-child) {
          margin-top: 50px;

          @include desktop {
            margin-top: 64px;
          }
        }
      }
    }
  }
}