@import "./assets/scss/app";

.buttonOutlined {
  @include button;
  @include centerRow;
  border-radius: 1000px;
  width: 100%;
  border: 1px solid #FFFFFF;
  height: 46px;
  transition: 0.3s;

  @include desktop {
    height: 50px;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 0.3s;

    @include desktop {
      font-size: 16px;
      line-height: 24px;
    }
  }

  svg {
    width: 17px;
    margin-left: 10px;

    path {
      transition: 0.3s;
      fill: #FFF;
    }
  }

  &:hover {
    border-color: $color_hover;

    span {
      color: $color_hover;
    }

    svg path {
      fill: $color_hover;
    }
  }

  &:disabled {
    border: 1px solid #83848E;

    span {
      color: #83848E;
    }

    svg path {
      fill: #83848E;
    }
  }

  &_animateIcon {
    svg {
      transition: 0.3s;
    }

    &:hover {
      //border: 1px solid $color_hover;

      svg {
        transform: translateX(6px);
      }
    }
  }
}