@import "../../../assets/scss/app";

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;

  @include desktop {
    font-size: 40px;
    line-height: 60px;
  }
}

.pretitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  @include desktop {
    font-size: 32px;
    line-height: 48px;
  }
}


.subtitle {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  @include desktop {
    margin-top: 40px;
    font-size: 24px;
  }
}

.text {
  margin-top: 20px;

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: #CFD0D4;
  }


  @include desktop {
    margin-top: 25px;

    p {
      font-size: 18px;
    }

  }

  p.white, span.white {
    font-weight: 600;
    color: #FFF;
  }
}

.block {
  &:not(:first-child) {
    margin-top: 50px;

    @include desktop {
      margin-top: 64px;
    }
  }
}


.img0 {
  margin-top: 30px;
  width: 280px;
  transform: translateX(-28px);

  @include desktop {
    transform: translateX(-54px);
    width: 576px;
  }
}

.img1 {
  display: block;
  margin-top: 30px;
  width: 280px;
  transform: translateX(-28px);

  @include desktop {
    margin-top: 40px;
    width: 560px;
    transform: translateX(-54px);
  }
}

.sliderWrapper {
  //width: 100%;
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  @include desktop {
    margin-top: 40px;
    width: 560px;
  }

  .labelSlider {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 167px;
    height: 36px;
    left: 50%;
    transform: translate(-50%, -50%);


    .labelSlide {
      @include centerColumn;
      background: #644CC5;
      border-radius: 44px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }


  .slider {
    position: relative;
    z-index: 1;

    @include desktop {
      margin-left: 0;
      margin-right: 0;
      width: 560px;
    }

    .slide {
      @include centerColumn;

      img {
        border-radius: 17px;

        max-width: 560px;
        width: 100%;
        //height: 193px;

        @include desktop {
          border-radius: 17px;
          width: 560px;
          height: 384px;
        }
      }
    }
  }

  .btns {
    position: relative;
    z-index: 2;
    display: flex;
    margin-top: 20px;
    align-self: center;

    @include desktop {
      margin-top: 0;
      position: absolute;
      top: 10px;
      left: 475px;
    }

    button {
      @include button;
      @include centerColumn;
      width: 34px;
      height: 34px;

      @include desktop {
        width: 34px;
        height: 34px;
      }

      &:nth-child(1) {
        svg {
          transform: rotate(180deg);
        }
      }

      &:nth-child(2) {
        margin-left: 10px;

        @include desktop {
          margin-left: 4px;
        }
      }

      svg {
        width: 17px;

        @include desktop {
          width: 12px;
        }

        path {
          fill: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

}


.tgLink {
  text-decoration: none;
  color: #FFF;
  display: block;
  margin-top: 30px;
  background: linear-gradient(262.44deg, #4428B8 -4.77%, rgba(104, 78, 211, 0.96) 105.76%);
  border-radius: 15px;
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  @include desktop {
    margin-top: 40px;
    padding: 14px 20px;
    font-size: 18px;
    width: 734px;
  }
}

.accountWrapper {
  align-self: stretch;
  margin-top: 15px;
  background: linear-gradient(262.44deg, #4428B8 -4.77%, rgba(104, 78, 211, 0.96) 105.76%);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;

  @include desktop {
    width: 470px;
  }

  .account {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .copyBtn {
    margin-left: 15px;
  }

  .linkBtn {
    @include button;
    margin-left: 10px;
    width: 20px;
    height: 20px;

    svg path {
      transition: 0.3s;
      fill: rgba(255,255,255,0.5);
    }

    &:hover {
      svg path {
        fill: rgba(255,255,255,1);
      }
    }

  }



}

.table {
  background: rgba(127, 133, 178, 0.05);
  border-radius: 15px;
  border: 1px solid rgba(181, 207, 204, 0.17);
  margin-top: 30px;

  @include desktop {
    margin-top: 40px;
  }

  .head {
    @include onlyDesktop(grid);
    padding: 0px 40px;
    height: 80px;
    grid-template-columns: repeat(4, 1fr);

    .headCell {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #83848E;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .row {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;

    @include desktop {
      height: 80px;
      padding: 0px 40px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-row-gap: 0;
    }

    &:not(:first-child) {
      border-top: 1px solid #2D3242;
    }

    &:first-child {
      @include desktop {
        border-top: 1px solid #2D3242;
      }

    }

    .cell {
      display: flex;
      flex-direction: column;

      @include desktop {
        justify-content: center;
      }

      .label {
        @include onlyMobile;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #828282;
      }

      .value {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        @include desktop {
          font-size: 18px;
          line-height: 27px;
        }

        svg {
          margin-left: 4px;
          width: 10px;
          height: 10px;

          @include desktop {
            margin-left: 6px;
            width: 13px;
            height: 13px;
          }
        }
      }

      &:nth-child(2), &:nth-child(4) {
        align-items: flex-end;

        @include desktop {
          align-items: normal;
        }
      }
    }
  }
}

.decorateText {
  margin-top: 30px;
  background: linear-gradient(262.44deg, #4428B8 -4.77%, rgba(104, 78, 211, 0.96) 105.76%);
  border-radius: 15px;
  border: 1px solid rgba(181, 207, 204, 0.17);
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;

  @include desktop {
    margin-top: 34px;
    padding: 15px 20px;
    width: 712px;
    box-sizing: border-box;
    font-size: 18px;
  }
}

.startBtn {
  margin-top: 30px;
  width: 190px;

  @include desktop {
    width: 188px;
  }


}